---
http_interactions:
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/characters/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:44
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":114934,"status_code":1,"results":[{"id":1253}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/concepts/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:45
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":1363,"status_code":1,"results":[{"id":35070}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/episodes/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:46
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":21951,"status_code":1,"results":[{"id":1}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/issues/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:47
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":541604,"status_code":1,"results":[{"id":6}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/locations/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:48
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":7294,"status_code":1,"results":[{"id":21766}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/movies/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:49
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":2064,"status_code":1,"results":[{"id":1}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/objects/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:50
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":3573,"status_code":1,"results":[{"id":15073}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/origins/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:51
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":10,"status_code":1,"results":[{"id":1}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/people/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:52
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":43371,"status_code":1,"results":[{"id":1251}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/powers/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:53
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":128,"status_code":1,"results":[{"id":1}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/publishers/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:54
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":6280,"status_code":1,"results":[{"id":4}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/series_list/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:54
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":578,"status_code":1,"results":[{"id":1}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/story_arcs/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:55
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":3821,"status_code":1,"results":[{"id":27758}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/teams/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:56
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":8207,"status_code":1,"results":[{"id":1800}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/volumes/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-14-2017 12:15:57
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":85112,"status_code":1,"results":[{"id":766}],"version":"1.0"}'
  recorded_at: Wed, 01 Mar 2017 00:00:00 GMT
recorded_with: VCR 3.0.3
