---
http_interactions:
- request:
    method: get
    uri: https://comicvine.gamespot.com/api/origins/?api_key=<API_KEY>&field_list=id&filter=date_last_updated:2017-01-01%7C2017-03-01&format=json&limit=100&offset=0&sort=id:asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 04-02-2017 13:06:01
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":100,"offset":0,"number_of_page_results":10,"number_of_total_results":10,"status_code":1,"results":[{"id":1},{"id":2},{"id":3},{"id":4},{"id":5},{"id":6},{"id":7},{"id":8},{"id":9},{"id":10}],"version":"1.0"}'
  recorded_at: Tue, 28 Feb 2017 23:00:00 GMT
recorded_with: VCR 3.0.3
