---
http_interactions:
- request:
    method: get
    uri: http://comicvine.gamespot.com/api/issues/?api_key=<API_KEY>&field_list=id&filter=date_last_updated:2017-01-01%7C2017-03-13&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 03-12-2017 16:27:25
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":23977,"status_code":1,"results":[{"id":26}],"version":"1.0"}'
  recorded_at: Sun, 12 Mar 2017 23:22:26 GMT
recorded_with: VCR 3.0.3
