---
http_interactions:
- request:
    method: get
    uri: http://comicvine.gamespot.com/api/movies/?api_key=<API_KEY>&field_list=id&filter=date_added:2017-01-01%7C2017-03-01&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 03-13-2017 01:28:36
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":2,"status_code":1,"results":[{"id":2236}],"version":"1.0"}'
  recorded_at: Mon, 13 Mar 2017 08:23:36 GMT
- request:
    method: get
    uri: http://comicvine.gamespot.com/api/movies/?api_key=<API_KEY>&field_list=id&filter=date_last_updated:2017-01-01%7C2017-03-01&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 03-13-2017 01:28:37
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":3,"status_code":1,"results":[{"id":1}],"version":"1.0"}'
  recorded_at: Mon, 13 Mar 2017 08:23:37 GMT
recorded_with: VCR 3.0.3
