---
http_interactions:
- request:
    method: get
    uri: http://comicvine.gamespot.com/api/origins/?api_key=<API_KEY>&field_list=id&format=json&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 03-12-2017 06:12:27
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":10,"status_code":1,"results":[{"id":1}],"version":"1.0"}'
  recorded_at: Sun, 12 Mar 2017 13:07:27 GMT
recorded_with: VCR 3.0.3
